body {
    font-family: Arial, sans-serif;
    background-image: url(anh2.jpg);
    color: #020865;
    margin: 0;
    padding: 0;
    background-size: cover;
}

.container {
    max-width: 520px;
    margin: 50px auto;
    padding: 20px 30px;
    background: rgba(0, 0, 0, 0);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    color: #04376c;
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="url"],
select {
    width: 100%;
    padding: 10px;
    border: 3px solid #3f0202;
    border-radius: 4px;
}

input[type="file"] {
    padding: 5px;
}

button {
    width: 48%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px 1%;
}

button:hover {
    background-color: #0056b3;
}

.error {
    color: red;
    font-size: 0.9em;
    margin-top: 5px;
}

#imagePreview {
    margin-top: 10px;
}

#imagePreview img {
    max-width: 100%;
    border-radius: 4px;
    margin-top: 10px;
}
